{% extends 'base.html' %} {% block content %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
    <div class="alert alert-success" role="alert">
      {{message}}
    </div>
    {% endfor %}
  {% endif %}
{% endwith %}
<h1>Masuk</h1>
<form action="/login" method="post">
  <div class="form-floating mb-3">
    <input
      type="text"
      class="form-control"
      id="floatingInput"
      placeholder="masukkan username"
      name="user_input"
      required
      autocomplete="off"
    />
    <label for="floatingInput">Username</label>
  </div>
  <div class="form-floating">
    <input
      type="password"
      class="form-control"
      id="floatingPassword"
      placeholder="Password"
      name="password_input"
      required
    />
    <label for="floatingPassword">Password</label>
  </div>
  <div class="d-grid gap-2 mt-3">
    <button class="btn btn-primary" type="submit">Login</button>
  </div>
</form>

{% endblock %}
